[submodule "macos/diligence"]
	path = macos/diligence
	url = git@github.com:inseven/diligence.git
[submodule "macos/interact"]
	path = macos/interact
	url = git@github.com:inseven/interact.git
[submodule "scripts/changes"]
	path = scripts/changes
	url = git@github.com:jbmorley/changes.git
[submodule "scripts/build-tools"]
	path = scripts/build-tools
	url = git@github.com:jbmorley/build-tools.git
