[submodule "macos/diligence"]
	path = macos/diligence
	url = https://github.com/inseven/diligence.git
	branch = main
[submodule "macos/interact"]
	path = macos/interact
	url = https://github.com/inseven/interact.git
	branch = main
[submodule "scripts/changes"]
	path = scripts/changes
	url = https://github.com/jbmorley/changes.git
	branch = main
[submodule "scripts/build-tools"]
	path = scripts/build-tools
	url = https://github.com/jbmorley/build-tools.git
	branch = main
[submodule "scripts/Sparkle"]
	path = scripts/Sparkle
	url = https://github.com/sparkle-project/Sparkle
[submodule "docs/_theme"]
	path = docs/_theme
	url = https://github.com/jbmorley/showcase-theme.git
    branch = main
[submodule "firmware/dependencies/TinyUSB_Mouse_and_Keyboard"]
	path = firmware/dependencies/TinyUSB_Mouse_and_Keyboard
	url = https://github.com/cyborg5/TinyUSB_Mouse_and_Keyboard.git
	branch = master
